<div style="float:right;">
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter table" #input>
  </mat-form-field>
</div>

<div style="padding-top: 10px;padding-bottom: 25px;">
  <button href="#" class="main-button" (click)="open(content)" (click)="clickAddCompany()"><mat-icon
      style="margin-right: 5px;">library_add</mat-icon>Add Company</button>
  <br>
</div>

<!-- MAIN TABLE -->
<div class="dynamic-tables">

  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id"> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email"> Email </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.email; else defaultValue">
          {{element.email}}
        </ng-container>
      </td>
      <ng-template #defaultValue>
        <span style="color:gray"><i>Empty</i></span>
      </ng-template>
    </ng-container>

    <ng-container matColumnDef="logo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by logo"> Logo </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.logo; else defaultValue2">

          <a class="view-class" (click)="open(ImageModal)" (click)="imageModal(element.logo)">View</a>
        </ng-container>
      </td>
      <ng-template #defaultValue2>
        <span style="color:gray"><i>Empty</i></span>
      </ng-template>
    </ng-container>

    <ng-container matColumnDef="website">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by website"> Website </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.website; else defaultValue3">
          <a href="{{element.website}}" target="_blank">{{element.website}}</a>
        </ng-container>
      </td>
      <ng-template #defaultValue3>
        <span style="color:gray"><i>Empty</i></span>
      </ng-template>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <button class="secondary-button" style="margin-right:5px;" (click)="open(content)"
          (click)="clickEditCompany(element)">Edit</button>
        <button class="error-button" (click)="open(deleteModal)" (click)="clickDeleteCompany(element)">Delete</button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page">
  </mat-paginator>
</div>

<ng-template #content let-modal>
  <div class="modal-header modal-style-header">
    <div style="font-size: 20px;" *ngIf="showAdd">Add Company</div>
    <div style="font-size: 20px;" *ngIf="showEdit">Edit Company</div>
    <button style="color:White;" type="button" class="btn-close" aria-label="Close" id="cancel"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form [formGroup]="formValuesCompany">
    <div class="modal-body">
      <mat-label>Company Name</mat-label>
      <mat-form-field appearance="outline" style="width: 100%;">
        <input matInput placeholder="Ex: Google" formControlName='name'>
      </mat-form-field>

      <mat-label>Company Email</mat-label>
      <mat-form-field appearance="outline" style="width: 100%;">
        <input matInput placeholder="Ex: google@gmail.com" formControlName='email'>
      </mat-form-field>

      <mat-label>Company Logo</mat-label><br>
      <input type="file" name="avatar" accept="image/png, image/jpeg" (change)="onFileSelectImage($event)">
      <br>
      <small *ngIf="showEdit">Uploaded image: {{uploadedImage}}</small>
      <br>
      <br>

      <mat-label>Company Website</mat-label>
      <mat-form-field appearance="outline" style="width: 100%;">
        <input matInput placeholder="Ex: https://www.google.com/" formControlName='website'>
      </mat-form-field>


    </div>
    <div class="modal-footer">
      <button type="submit" class="secondary-button" (click)="postCompanies()" *ngIf="showAdd">Submit</button>
      <button type="submit" class="secondary-button" (click)="editCompanies()" *ngIf="showEdit">Update</button>
    </div>
  </form>
</ng-template>

<ng-template #ErrorModal let-modal>
  <div class="modal-header error-modal-header">
    Server Error
  </div>
  <div class="modal-body">
    {{NameError}}<hr *ngIf="NameError !== undefined">
    {{EmailError}}<hr *ngIf="EmailError !== undefined">
    {{LogoError}}<hr *ngIf="LogoError !== undefined">
    {{WebsiteError}}

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btnAnimation font" mat-raised-button mat-raised-button color="warn"
      (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

<ng-template #ImageModal let-modal>
  <div class="modal-header image-modal-header">
    Image Display
  </div>
  <div class="modal-body">
    <span>FileName: {{image}}</span>
    <img style="width:100%;height:100%;" src="http://localhost:8000/api/companylogo/{{image}}">

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btnAnimation font" mat-raised-button mat-raised-button color="warn"
      (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>


<ng-template #deleteModal let-modal>
  <div class="modal-header" style="background-color:#f44336;justify-content: center;">
    <h2 class="modal-title" style="color:white;">Confirm delete</h2>
  </div>
  <div class="modal-body ">
    <h3 class="justify-content-center">Delete <b>{{deleteCompany}}</b>? This company data will be deleted permanently
      and can not be
      recovered.</h3>
  </div>
  <div class="modal-footer justify-content-center">
    <button (click)="deleteCompanies()" class="btn btnAnimation" mat-raised-button color="warn"
      style="margin:15px;">Yes</button>
    <button type="button" id="cancelDelete" class="btn btnAnimation font" mat-raised-button color="primary"
      style="margin:15px;" (click)="modal.dismiss('Cross click')">No</button>
  </div>
</ng-template>