input::file-selector-button {
    font-weight: 500;
    color: white;
    background-color: #5D67FF;
    padding: 0.5em;
    border-radius: 3px;
    border:none;
}

.view-class:hover{
    cursor:pointer;
}

