$lineColor: #d9d7d7;

.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar .mat-primary {
    background: black;
    color: #fff;
}

.example-container {
    width: 100%;
    height: 100%;
}

.example-sidenav-content {
    height: 100%;
    padding: 50px;
}

.example-sidenav {
    width: 250px;
}

.sidenav-button-container{
    width: 100%;
}

.sidenav-logo{
    height: auto;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;

}

.sidenav-button{
    width: 100%;
    border-top: 1px $lineColor solid;
    border-radius: 0px;
}

